.markdown-body {
  color: #555;
  overflow: auto;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
}

.-strong {
  font-weight: 400;
}

.markdown-body .-img {
  max-width: 100%;
  box-sizing: border-box;
}

.markdown-body .-hr {
  box-sizing: content-box;
  height: 0;
}

.markdown-body .-pre {
  overflow: auto;
}

.markdown-body .-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-body .-td, .markdown-body .-th {
  padding: 0;
}

.markdown-body {
  width: 100%;
  box-sizing: border-box;
  padding: 30rpx;
}

.markdown-body .-a {
  color: #4183c4;
  text-decoration: none;
}

.markdown-body .-a:hover, .markdown-body .-a:active {
  text-decoration: none;
}

.markdown-body .-hr {
  height: 0;
  margin: 15rpx 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
}

.markdown-body .-hr:before {
  display: table;
  content: "";
}

.markdown-body .-hr:after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body .-h1, .markdown-body .-h2, .markdown-body .-h3,
.markdown-body .-h4, .markdown-body .-h5, .markdown-body .-h6 {
  margin-top: 30rpx;
  margin-bottom: 30rpx;
  font-weight: 400;
}

.markdown-body .-h1, .markdown-body .-strong {
  font-size: 1.6em !important;
}

.markdown-body .-h2, .markdown-body .-strong {
  font-size: 1.5em !important;
}

.markdown-body .-h3, .markdown-body .-strong {
  font-size: 1.4em !important;
}

.markdown-body .-h4, .markdown-body .-strong {
  font-size: 1.3em !important;
}

.markdown-body .-h5, .markdown-body .-strong {
  font-size: 1.2em !important;
}

.markdown-body .-h6, .markdown-body .-strong {
  font-size: 1.1em !important;
}
.markdown-body .-blockquote {
  margin: 0;
}

.markdown-body .-ul, .markdown-body .-ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body .-ol .-ol, .markdown-body .-ul .-ol {
  list-style-type: lower-roman;
}

.markdown-body .-ul .-ul .-ol, .markdown-body .-ul .-ol .-ol,
.markdown-body .-ol .-ul .-ol, .markdown-body .-ol .-ol .-ol {
  list-style-type: lower-alpha;
}

.markdown-body .-dd {
  margin-left: 0;
}

.markdown-body .-pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body .octicon {
  font: normal normal 16px octicons-anchor;
  display: inline-block;
  text-decoration: none;
  user-select: none;
}

.markdown-body .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body .-h1, .markdown-body .-h2, .markdown-body .-h3,
.markdown-body .-h4, .markdown-body .-h5, .markdown-body .-h6 {
  position: relative;
  font-weight: normal;
}

.markdown-body .-h1 .octicon-link, .markdown-body .-h2 .octicon-link,
.markdown-body .-h3 .octicon-link, .markdown-body .-h4 .octicon-link,
.markdown-body .-h5 .octicon-link, .markdown-body .-h6 .octicon-link {
  display: none;
  color: #353535;
  vertical-align: middle;
}

.markdown-body .-p, .markdown-body .-blockquote, .markdown-body .-ul,
.markdown-body .-ol, .markdown-body .-dl, .markdown-body .-table,
.markdown-body .-pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body .-ul, .markdown-body .-ol {
  padding-left: 2em;
}

.markdown-body .-ul .-ul, .markdown-body .-ul .-ol, .markdown-body .-ol .-ol,
.markdown-body .-ol .-ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body .-dl {
  padding: 0;
}

.markdown-body .-dl .-dt {
  padding: 0;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}

.markdown-body .-dl .-dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body .-blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.markdown-body .-table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}

.markdown-body .-table .-th {
  font-weight: bold;
}

.markdown-body .-table .-th, .markdown-body .-table .-td {
  padding: 6px 13px;
  border: 1px solid #eee;
}

.markdown-body .-table .-tr {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.markdown-body .-code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.markdown-body .-code:before, .markdown-body .-code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body .-pre > .-code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight .-pre, .markdown-body .-pre {
  padding: 16px;
  overflow: auto;
  /* font-size: 85%; */
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown-body .highlight .-pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .-pre {
  word-wrap: normal;
}

.markdown-body .-pre .-code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body .-pre .-code:before, .markdown-body .-pre .-code:after {
  content: normal;
}

.markdown-body .-kbd {
  display: inline-block;
  padding: 3px 5px;
  /* font-size: 11px; */
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body .pl-c {
  color: #969896;
}

.markdown-body .pl-c1, .markdown-body .pl-mdh, .markdown-body .pl-mm,
.markdown-body .pl-mp, .markdown-body .pl-mr, .markdown-body .pl-s1 .pl-v,
.markdown-body .pl-s3, .markdown-body .pl-sc, .markdown-body .pl-sv {
  color: #0086b3;
}

.markdown-body .pl-e, .markdown-body .pl-en {
  color: #795da3;
}

.markdown-body .pl-s1 .pl-s2, .markdown-body .pl-smi, .markdown-body .pl-smp,
.markdown-body .pl-stj, .markdown-body .pl-vo, .markdown-body .pl-vpf {
  color: #333;
}

.markdown-body .pl-ent {
  color: #63a35c;
}

.markdown-body .pl-k, .markdown-body .pl-s, .markdown-body .pl-st {
  color: #a71d5d;
}

.markdown-body .pl-pds, .markdown-body .pl-s1,
.markdown-body .pl-s1 .pl-pse .pl-s2, .markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce, .markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre, .markdown-body .pl-src {
  color: #df5000;
}

.markdown-body .pl-mo, .markdown-body .pl-v {
  color: #1d3e81;
}

.markdown-body .pl-id {
  color: #b52a1d;
}

.markdown-body .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.markdown-body .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.markdown-body .pl-ml {
  color: #693a17;
}

.markdown-body .pl-mh, .markdown-body .pl-mh .pl-en, .markdown-body .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.markdown-body .pl-mq {
  color: #008080;
}

.markdown-body .pl-mi {
  color: #333;
  font-style: italic;
}

.markdown-body .pl-mb {
  color: #333;
  font-weight: bold;
}

.markdown-body .pl-md, .markdown-body .pl-mdhf {
  background-color: #ffecec;
  color: #bd2c00;
}

.markdown-body .pl-mdht, .markdown-body .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.markdown-body .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.markdown-body .-kbd {
  display: inline-block;
  padding: 3px 5px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}

.editormd-preview-container, .editormd-html-preview {
  text-align: left;
  padding: 20px;
  overflow: auto;
  width: 100%;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

.editormd-preview-container .-blockquote, .editormd-html-preview .-blockquote {
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-left: 0;
  /* font-size: 14px; */
}

.editormd-preview-container .-p .-code, .editormd-html-preview .-p .-code {
  margin-left: 5px;
  margin-right: 4px;
}

.editormd-preview-container .-abbr, .editormd-html-preview .-abbr {
  background: #ffd;
}

.editormd-preview-container .-hr, .editormd-html-preview .-hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ddd;
  background: none;
}

.editormd-preview-container .-code, .editormd-html-preview .-code {
  border: 1px solid #ddd;
  background: #f6f6f6;
  padding: 3px;
  border-radius: 3px;
  /* font-size: 14px; */
}

.editormd-preview-container .-pre, .editormd-html-preview .-pre {
  border: 1px solid #ddd;
  background: #f6f6f6;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.editormd-preview-container .-pre .-code, .editormd-html-preview .-pre .-code {
  padding: 0;
}

.editormd-preview-container .-pre, .editormd-preview-container .-code,
.editormd-preview-container kbd, .editormd-html-preview .-pre,
.editormd-preview-container .-table .-thead .-tr,
.editormd-html-preview .-table .-thead .-tr {
  background-color: #f8f8f8;
}

.editormd-preview-container .-p.editormd-tex,
.editormd-html-preview .-p.editormd-tex {
  text-align: center;
}

.editormd-preview-container .-span.editormd-tex,
.editormd-html-preview span.editormd-tex {
  margin: 0 5px;
}

.editormd-preview-container .emoji, .editormd-html-preview .emoji {
  width: 24px;
  height: 24px;
}

.editormd-preview-container .sequence-diagram,
.editormd-preview-container .flowchart, .editormd-html-preview .sequence-diagram,
.editormd-html-preview .flowchart {
  margin: 0 auto;
  text-align: center;
}

.editormd-preview-container .sequence-diagram .-svg,
.editormd-preview-container .flowchart .-svg,
.editormd-html-preview .sequence-diagram .-svg,
.editormd-html-preview .flowchart .-svg {
  margin: 0 auto;
}

.pln {
  color: #000;
}

/* plain text */

.str {
  color: #080;
}

/* string content */

.kwd {
  color: #008;
}

/* a keyword */

.com {
  color: #800;
}

/* a comment */

.typ {
  color: #606;
}

/* a type name */

.lit {
  color: #066;
}

/* a literal value */

/* punctuation, lisp open bracket, lisp close bracket */

.pun, .opn, .clo {
  color: #660;
}

.tag {
  color: #008;
}

/* a markup tag name */

.atn {
  color: #606;
}

/* a markup attribute name */

.atv {
  color: #080;
}

/* a markup attribute value */

.dec, .var {
  color: #606;
}

/* a declaration; a variable name */

.fun {
  color: red;
}

/* a function name */

/* Put a border around .-prettyprinted .-code snippets. */

.-pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

/* Specify class=linenums on a .-pre to get line numbering */

.-ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

.editormd-preview-container .-pre.prettyprint,
.editormd-html-preview .-pre.prettyprint {
  padding: 10px;
  border: 1px solid #ddd;
  white-space: -pre-wrap;
  word-wrap: break-word;
}

.editormd-preview-container .-ol.linenums, .editormd-html-preview .-ol.linenums {
  color: #999;
  padding-left: 2.2em;
}

.editormd-preview-container .-ol.linenums li,
.editormd-html-preview .-ol.linenums li {
  list-style-type: decimal;
}

.editormd-preview-container .-ol.linenums li .-code,
.editormd-html-preview .-ol.linenums li .-code {
  border: none;
  background: none;
  padding: 0;
}

.editormd-preview-container .-code, .editormd-html-preview .-code {
  border: 0;
  /* display: inline-block; *//* padding-bottom: 0px; */
  background-color: #f6f6f6;
  color: #c7254e;
  padding: 6rpx 8rpx;
  margin: 5rpx;
}

.editormd-preview-container .-pre, .editormd-html-preview .-pre {
  border: 0 !important;
  background-color: #f6f6f6;
  line-height: 1.5;
  font-size: 0.9em;
}

.editormd-preview-container .-blockquote, .editormd-html-preview .-blockquote {
  color: #999 !important;
  font-style: normal !important;
  border-left: 4px solid #d6dbdf;
  /* font-size: 14px; */
  font-size: 0.9em;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  margin: 8px 0;
  padding: 8px;
}

.-blockquote .-p {
  margin-bottom: 0;
}
